<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EstagiOn - Registro da Empresa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
<div th:insert="fragments/header-and-footer-main.html :: header-main"></div>

<section class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">Registro da Empresa</h3>
                </div>
                <div class="card-body">
                    <form th:action="@{/auth/register-company}" th:object="${company}" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="name">Nome da empresa</label>
                                <input type="text" class="form-control" id="name" th:field="*{username}" required>
                                <div class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="cnpj">CNPJ da empresa</label>
                                <input type="text" class="form-control" id="cnpj" th:field="*{cnpj}" required>
                                <div class="text-danger" th:if="${#fields.hasErrors('cnpj')}" th:errors="*{cnpj}"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="address">Endereço da empresa</label>
                                <input type="text" class="form-control" id="address" th:field="*{address}" required>
                                <div class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="contactPhone">Telefone de contato</label>
                                <input type="tel" class="form-control" id="contactPhone" th:field="*{contactPhone}" required>
                                <div class="text-danger" th:if="${#fields.hasErrors('contactPhone')}" th:errors="*{contactPhone}"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="contactEmail">Email de contato</label>
                                <input type="email" class="form-control" id="contactEmail" th:field="*{contactEmail}" required>
                                <div class="text-danger" th:if="${#fields.hasErrors('contactEmail')}" th:errors="*{contactEmail}"></div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="contactPerson">Pessoa de contato</label>
                                <input type="text" class="form-control" id="contactPerson" th:field="*{contactPerson}" required>
                                <div class="text-danger" th:if="${#fields.hasErrors('contactPerson')}" th:errors="*{contactPerson}"></div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="mainActivity">Atividade principal</label>
                                <input type="text" class="form-control" id="mainActivity" th:field="*{mainActivity}" required>
                                <div class="text-danger" th:if="${#fields.hasErrors('mainActivity')}" th:errors="*{mainActivity}"></div>
                            </div>

                            <div class="form-group col-md-6">
                                <label for="companyUrl">URL da empresa</label>
                                <input type="url" class="form-control" id="companyUrl" th:field="*{companyUrl}">
                                <div class="text-danger" th:if="${#fields.hasErrors('companyUrl')}" th:errors="*{companyUrl}"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email">Email da conta</label>
                            <input type="email" class="form-control" id="email" th:field="*{email}" required>
                            <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                        </div>
                        <div class="form-group">
                            <label for="password">Senha</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                            <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
                        </div>
                        <div class="form-group">
                            <label for="pdf">Documento de comprovação de endereço (PDF)</label>
                            <input type="file" class="form-control-file" id="pdf" name="pdf" accept=".pdf" required>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                    </form>
                    <div class="mt-3 text-center">
                        <p>Já possui uma conta? <a th:href="@{/auth/company/login}">Faça login</a></p>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</section>
<br>

<div th:insert="fragments/header-and-footer-main.html :: footer"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>