<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Listagem de Ofertas de Estágio Abertas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

<div th:insert="fragments/header-and-footer-dashboards.html :: header"></div>

<div class="container mt-5">
    <h2 class="mb-4">Ofertas de Estágio Abertas</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Título</th>
            <th>Descrição</th>
            <th>Atividade Principal</th>
            <th>Bolsa</th>
            <th>Carga Horária</th>
            <th>Pré-requisitos</th>
            <th>Habilidades Necessárias</th>
            <th>Habilidades Desejadas</th>
            <th>Empresa</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="offer : ${internshipOffers}">
            <td th:text="${offer.title}"></td>
            <td th:text="${offer.description}"></td>
            <td th:text="${offer.mainActivity}"></td>
            <td th:text="${offer.stipendAmount}"></td>
            <td th:text="${offer.weeklyWorkload} + ' horas/semana'"></td>
            <td th:text="${offer.prerequisites}"></td>
            <td th:text="${offer.requiredSkills}"></td>
            <td th:text="${offer.desiredSkills}"></td>
            <td th:text="${offer.company.getUsername()}"></td>
            <td>
                <a th:href="@{/coordinator/view-offer/{id}(id=${offer.id})}"
                   class="btn btn-sm btn-warning"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Visualizar Oferta">
                    <i class="fas fa-regular fa-eye"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:replace="~{/fragments/paging :: paginator('coordinator/get-all-internship-offers', ${navPage})}"></div>
</div>

<div th:insert="fragments/header-and-footer-dashboards.html :: footer"></div>

</body>
</html>