<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Listagem de Ofertas de Estágio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<div th:insert="fragments/header-and-footer-dashboards.html :: header"></div>

<div class="container mt-5">
    <h2 class="mb-4">Candidatos e Ofertas de Estágio</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Aluno</th>
            <th>Empresa</th>
            <th>Título da vaga</th>
            <th>Ver Empresa</th>
            <th>Ver Candidato</th>
            <th>Ver Oferta de estágio</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="app : ${applications}">
            <td th:text="${app.student.firstName}"></td>
            <td th:text="${app.internshipOffer.company.getUsername()}"></td>
            <td th:text="${app.internshipOffer.title}"></td>
            <td>
                <a th:href="@{/coordinator/view-company(companyId=${app.internshipOffer.company.id})}"
                   class="btn btn-sm btn-warning"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Visualizar Empresa">
                    <i class="fas fa-regular fa-eye"></i>
                </a>
            </td>
            <td>
                <a th:href="@{/coordinator/view-student(studentId=${app.student.id})}"
                   class="btn btn-sm btn-warning"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Visualizar Aluno">
                    <i class="fas fa-regular fa-eye"></i>
                </a>
            </td>
            <td>
                <a th:href="@{/coordinator/view-offer/{id}(id=${app.internshipOffer.id})}"
                   class="btn btn-sm btn-warning"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Visualizar Oferta">
                    <i class="fas fa-regular fa-eye"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div th:replace="~{/fragments/paging :: paginator('coordinator/list-application', ${navPage})}"></div>
</div>

<div th:insert="fragments/header-and-footer-dashboards.html :: footer"></div>

</body>
</html>