<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Visualizar Empresa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div th:insert="fragments/header-and-footer-dashboards.html :: header"></div>

<div class="container mt-5">
    <h2 class="mb-4">Detalhes da Empresa</h2>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title" th:text="${company.getUsername()}">Nome da Empresa</h5>
            <p class="card-text">
                <strong>CNPJ:</strong> <span th:text="${company.cnpj}">CNPJ da Empresa</span>
            </p>
            <p class="card-text">
                <strong>Endereço:</strong> <span th:text="${company.address}">Endereço da Empresa</span>
            </p>
            <p class="card-text">
                <strong>Telefone de Contato:</strong> <span th:text="${company.contactPhone}">Telefone de Contato</span>
            </p>
            <p class="card-text">
                <strong>Email de Contato:</strong> <span th:text="${company.contactEmail}">Email de Contato</span>
            </p>
            <p class="card-text">
                <strong>Pessoa de Contato:</strong> <span th:text="${company.contactPerson}">Pessoa de Contato</span>
            </p>
            <p class="card-text">
                <strong>Atividade Principal:</strong> <span th:text="${company.mainActivity}">Atividade Principal</span>
            </p>
            <p class="card-text">
                <strong>URL da Empresa:</strong> <a th:href="${company.companyUrl}" th:text="${company.companyUrl}" target="_blank">Visitar Site</a>
            </p>
        </div>
    </div>
</div>

<div th:insert="fragments/header-and-footer-dashboards.html :: footer"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
