<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Listagem de Ofertas de Estágio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

<div th:insert="fragments/header-and-footer-dashboards.html :: header"></div>


<div class="container mt-5">
    <h2 class="mb-4">Ofertas de Estágio</h2>

    <form method="GET" th:action="@{/students/list-internship-offers}">
        <input type="hidden" name="studentId" th:value="${studentId}" />
        <div class="row mb-4">
            <div class="col-md-4">
                <input type="text" name="weeklyWorkload" class="form-control" placeholder="Filtrar por Carga Horária"
                       th:value="${weeklyWorkload != null ? weeklyWorkload : ''}" />
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12 text-right">
                <button type="submit" class="btn btn-primary">Filtrar</button>
                <a th:href="@{/students/list-internship-offers(studentId=${studentId})}" class="btn btn-secondary">Limpar Filtros</a>
            </div>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Título</th>
            <th>Atividade Principal</th>
            <th>Carga Horária</th>
            <th>Status</th>
            <th>Empresa</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="offer : ${internshipOffers}">
            <td th:text="${offer.title}"></td>
            <td th:text="${offer.mainActivity}"></td>
            <td th:text="${offer.weeklyWorkload}"></td>
            <td>
                <span th:text="${offer.status.getName()}" class="badge badge-primary"/>
            </td>
            <td th:text="${offer.company.getName()}"></td>
            <td>
                <a th:href="@{/students/view-internship-offer(internshipOfferId=${offer.id}, studentId=${studentId})}"
                   class="btn btn-sm btn-warning"
                   data-toggle="tooltip"
                   data-placement="top"
                   title="Visualizar Oferta">
                    <i class="fas fa-regular fa-eye"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:insert="fragments/header-and-footer-dashboards.html :: footer"></div>


</body>
</html>