<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<h2>Lista de Estudantes</h2>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Curso</th>
        <th>Habilidades</th>
        <th>Username</th>
        <th>Senha</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="student : ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.firstName}"></td>
        <td th:text="${student.lastName}"></td>
        <td th:text="${student.email}"></td>
        <td th:text="${student.phone}"></td>
        <td th:text="${student.course}"></td>
        <td th:text="${student.skills}"></td>
        <td th:text="${student.username}"></td>
        <td th:text="${student.password}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
