<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Visualizar Oferta de Estágio</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div th:insert="fragments/header-and-footer-dashboards.html :: header"></div>


<div class="container mt-5">
    <h2 class="mb-4">Detalhes da Oferta de Estágio</h2>

    <div class="card">
        <div class="card-body">
            <h5 class="card-title" th:text="${internshipOffer.title}">Título da Oferta</h5>
            <p class="card-text">
                <strong>Descrição:</strong> <span th:text="${internshipOffer.description}">Descrição da Oferta</span>
            </p>
            <p class="card-text">
                <strong>Atividade Principal:</strong> <span th:text="${internshipOffer.mainActivity}">Atividade Principal</span>
            </p>
            <p class="card-text">
                <strong>Carga Horária Semanal:</strong> <span th:text="${internshipOffer.weeklyWorkload}">Carga Horária Semanal</span> horas
            </p>
            <p class="card-text">
                <strong>Valor da Bolsa:</strong> <span th:text="${internshipOffer.stipendAmount}">Valor da Bolsa</span> R$
            </p>
            <p class="card-text">
                <strong>Vale Transporte:</strong> <span th:text="${internshipOffer.transportVoucher ? 'Sim' : 'Não'}">Vale Transporte</span>
            </p>
            <p class="card-text">
                <strong>Pré-requisitos:</strong> <span th:text="${internshipOffer.prerequisites}">Pré-requisitos</span>
            </p>
            <p class="card-text">
                <strong>Habilidades Necessárias:</strong> <span th:text="${internshipOffer.requiredSkills}">Habilidades Necessárias</span>
            </p>
            <p class="card-text">
                <strong>Habilidades Desejáveis:</strong> <span th:text="${internshipOffer.desiredSkills}">Habilidades Desejáveis</span>
            </p>

            <form th:action="@{/students/apply}" method="post">
                <input type="hidden" name="studentId" th:value="${studentId}" />
                <input type="hidden" name="internshipOfferId" th:value="${internshipOffer.id}" />
                <button type="submit" class="btn btn-primary">Candidatar-se</button>
            </form>

            <br>
        </div>
    </div>
</div>

<div th:insert="fragments/header-and-footer-dashboards.html :: footer"></div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
