<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Candidatos à Oferta de Estágio</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

<div th:insert="fragments/header-and-footer-dashboards.html :: header"></div>

<div class="container mt-5">
  <h2 class="mb-4" th:text="'Candidatos para a oferta: ' + ${internshipOffer.title}"></h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nome do Aluno</th>
      <th>Cpf</th>
      <th>Status da Candidatura</th>
      <th>Data de Início</th>
      <th>Data de Término</th>
      <th>Ação</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="app : ${applications}">
      <td th:text="${app.student.firstName}"></td>
      <td th:text="${app.student.cpf}"></td>
      <td th:text="${app.stauts}"></td>
      <form th:action="@{/companies/{offerId}/selectStudent(offerId=${internshipOffer.id}, studentId=${app.student.id})}" method="post">
        <td>
          <input type="date" name="dataInicio" class="form-control" required />
        </td>
        <td>
          <input type="date" name="dataTermino" class="form-control" required />
        </td>
        <td>
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-check"></i>
          </button>
          <a th:href="@{/companies/students/{id}(id=${app.student.id})}" class="btn btn-secondary">
            <i class="fas fa-eye"></i>
          </a>
        </td>
      </form>
    </tr>
    </tbody>
  </table>
  <div th:replace="~{/fragments/paging :: paginator('companies/internshipoffers/' + ${internshipOffer.id} + '/applications', ${navPage})}"></div>
</div>

<div th:insert="fragments/header-and-footer-dashboards.html :: footer"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
